<template>
  <div>
    <navbar />
    <slot/>
    <footer-component />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>
<script>
import FooterComponent from "@/components/Footers/Footer.vue";
import Navbar from "@/components/Navbars/AuthNavbar.vue";

export default {
  components: {
    Navbar,
    FooterComponent,
  },
};
</script>
<style>
</style>